{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2>Add Team</h2>
            <p><a href="{{ path('team_index') }}" class="btn btn-primary">Back to Teams</a></p>
            {{ include('team/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
