{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h2>Add new Event</h2>
    <a href="{{ path('event_index') }}" class="btn btn-primary">Back to Events</a>
    {{ include('event/_form.html.twig') }}
{% endblock %}
