{% extends 'base.html.twig' %}

{% block title %}Edit Contest{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Edit Contest</h2>
        <p><a href="{{ path('contest_index') }}" class="btn btn-primary">Back to Contest List</a></p>
        {{ include('contest/_form.html.twig', {'button_label': 'Update'}) }}
        <p>{{ include('contest/_delete_form.html.twig') }}</p>
    </div>
</div>
{% endblock %}
