{% extends 'base.html.twig' %}

{% block title %}New League{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Add New League</h2>
        <p><a href="{{ path('league_index') }}" class="btn btn-primary">Back to Leagues</a></p>
        {{ include('league/_form.html.twig') }}
    </div>
</div>
{% endblock %}
