{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2>Role List</h2>
            <p><a href="{{ path('role_new') }}" class="btn btn-primary">Add New Role</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Role ID</th>
                        <th>Role Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td class="text-center">{{ role.roleid }}</td>
                        <td>{{ role.name }}</td>
                        <td class="text-center">
                            <a href="{{ path('role_edit', {'roleid': role.roleid}) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="bg-danger">No Role Records Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
