<form method="post" action="{{ path('person_delete', {'personid': person.personid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.personid) }}">
    <button class="btn btn-danger">Delete</button>
</form>
