{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Edit Person</h2>
            <p><a href="{{ path('person_index') }}" class="btn btn-primary">Back to Teams</a></p>
            {{ include('person/_form.html.twig', {'button_label': 'Update'}) }}
            <p>{{ include('person/_delete_form.html.twig') }}</p>
        </div>
    </div>

{% endblock %}
