<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        {{ include('navigation.html.twig') }}

        <div class="container py-5 my-5">

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}

        </div>

        {{ include('footer.html.twig') }}

        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
