{% block footer %}

<footer class="container-fluid text-white bg-primary">
    <div class="row p-5">
        <div class="col-md-12 text-center">
            <a href="/"><img src="/assets/eventradar.png" alt="EventRadar" height="60px" class="mx-4"></a>
            <p class="pt-3">Copyright 2020 EventRadar.<br>An exercise project by <a href="mailto:marincomics@gmail.com">Marin Balabanov</a>.<br/>Photos from <a href="http://adobestock.com" target="_blank" class="text-white">Adobe Stock.</a></p>
        </div>
    </div>
</footer>

{% endblock %}
